<mat-card>
  <mat-card-header class="mat-purple">
    <mat-card-title>{{currentSeason}} Registration</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>Pay your membership dues online with a credit card, or download the
      signup form to pay by check.
    </p>
  </mat-card-content>
  <!-- <mat-card-content>
    <h2 class="mat-text-primary">Online Registration</h2>
    <p>Request a temporary login from the MPGA website and register online with a credit card.
      You must be in the contact list for your club and have a valid email in our contact database.
    </p>
    <p>1. Select your club from the list below:</p>
    <mat-form-field class="full-width">
      <mat-select placeholder="MPGA Clubs" (selectionChange)="selectClub($event.value)">
        <mat-option *ngFor="let c of clubs" [value]="c">{{ c.name }}</mat-option>
      </mat-select>
    </mat-form-field>
  </mat-card-content>
  <mat-card-content *ngIf="selectedClub">
    <p>2. Select your name from the contact list:</p>
    <mat-form-field class="full-width">
      <mat-select placeholder="Club Contacts" (selectionChange)="selectContact($event.value)">
        <mat-option *ngFor="let cc of selectedClub.clubContacts" [value]="cc">{{ cc.contact.name }}</mat-option>
      </mat-select>
    </mat-form-field>
    <p class="mat-text-warn" *ngIf="selectedContact && !selectedContact.contact.email">
      We do not have an email address on file for {{selectedContact.contact.name}}.
    </p>
    <p class="footnote">
      Not in the list? Please <a [routerLink]="['/about', 'contact']">contact the MPGA</a> with your 
      contact information and role with {{selectedClub.name}}, and we will add you to our contact database.
    </p>
  </mat-card-content>
  <mat-card-content *ngIf="hasToken">
    <p>3. Enter the login code we just sent you and log in to complete your registration:</p>
    <mat-form-field class="half-width">
      <input matInput placeholder="Login Token" [(ngModel)]="token">
    </mat-form-field>
  </mat-card-content> -->
  <mat-card-actions>
    <a mat-flat-button [href]="pdf.file" target="_blank">Signup Form</a>
    <a mat-flat-button color="primary" (click)="onlineSignup()">Online Signup</a>
  </mat-card-actions>
</mat-card>