@import '../../../../assets/styles/scss/material.variables';

.mat-chip-role {
  color: white;
  background-color: mat-color($accent) !important;
}
.role-list {
  width: 100%;
}
.change-roles {
  text-decoration: underline !important;
  color: mat-color($mat-teal, 300);
  margin-bottom: 10px;
}