// @import '~@angular/material/theming';
@import '../../../assets/styles/scss/material.variables';

.event-bold {
    color: mat-color($mat-teal, 700)!important;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0;
}

.mat-list[dense] .mat-list-item {
    height: 30px !important;
}

.register a {
    text-decoration: underline;
    color: mat-color($mat-teal, 500)!important;
}

.course-logo {
  float: right;
  width: 80px !important;
  height: 80px !important;
  object-fit: scale-down !important;
}

.email-action {
  float: right;
  margin-top: -10px;
}