<ng-container *ngIf="eventDetail$ | async as event">
<div fxLayout="row wrap">
  <div fxFlex.gt-sm="25%" fxFlex="100">
    <div fx-layout="row">
      <app-event-registration-preview [event]="event" *ngIf="!event.registrationIsClosed"></app-event-registration-preview>
      <app-event-results-preview [event]="event"></app-event-results-preview>
    </div>
  </div>
  <div fxFlex.gt-sm="50%" fxFlex="100">
    <app-image-upload *ngIf="doUpload" [year]="event.year" [tournamentId]="event.tournament" [course]="event.location" (isDone)="doUpload = !doUpload"></app-image-upload>
    <mat-card>
      <mat-card-content class="mat-purple">
        <h2 class="mt-0 mb-0">{{ event.name }}</h2>
        <div fxFlex></div>
        <a mat-icon-button color="warn" *ngIf="(user$ | async).isStaff && !doUpload" (click)="doUpload=!doUpload" class="photo-action">
          <mat-icon>add_a_photo</mat-icon>
        </a>
      </mat-card-content>
      <mat-card-content>
        <img *ngIf="event.location.logoUrl" mat-list-avatar class="course-logo" src="{{event.location.logoUrl}}">
        <h3 class="mb-0">
          <a [href]="event.location.website" target="_blank">
            {{ event.location.name }}&nbsp;<mat-icon color="primary" [inline]="true">open_in_new</mat-icon>
          </a>
        </h3>
        <h4 class="mt-0">{{ event.eventDates }}</h4>
        <h3 *ngIf="event.registrationIsPending" class="mat-text-warn">Registration has not yet started</h3>
        <h3 *ngIf="event.registrationIsClosed" class="mat-text-warn">Registration is closed</h3>
        <h5 class="event-bold">Format</h5>
        <div [markdown]="event.description"></div>
        <div *ngFor="let p of event.policies">
          <h5 class="event-bold">{{ p.policy.title }}</h5>
          <div [markdown]="p.policy.description"></div>
        </div>
        <h5 *ngIf="event.playerPoints" class="event-bold">Player Points</h5>
        <mat-list dense *ngIf="event.playerPoints" class="mb-1">
          <mat-list-item *ngFor="let pp of event.playerPoints">
            {{ pp.ordinalPlace }}: {{ pp.points }}
          </mat-list-item>
        </mat-list>
        <h5 *ngIf="event.notes" class="event-bold">Additional Information</h5>
        <div *ngIf="event.notes" [markdown]="event.notes"></div>
        <h5 class="event-bold">Chairmen</h5>
        <div *ngFor="let c of event.chairs">
          {{ c.chair.firstName }} {{ c.chair.lastName }}
        </div>
      </mat-card-content>
    </mat-card>
    <div id="contact">
      <app-contact-message [title]="'Tournament Questions and Requests'" [messageType]="'tournament'" [event]="event.name"></app-contact-message>
    </div>
  </div>
  <div fxFlex.gt-sm="25%" fxFlex="100">
    <div fx-layout="row">
      <app-event-history-preview [event]="event"></app-event-history-preview>
      <app-event-gallery-preview [event]="event"></app-event-gallery-preview>
    </div>
  </div>
</div>
</ng-container>
