<div fxLayout="row wrap">
  <div fxFlex.gt-sm="50%" fxFlex="100">
    <mat-card>
      <mat-card-header class="mat-purple">
        <mat-card-title>MPGA Team Match Play</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div *ngIf="pageContent" [markdown]="pageContent.content"></div>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex.gt-sm="50%" fxFlex="100">
    <mat-card>
      <mat-card-header class="mat-purple">
        <mat-card-title>2020 Team Match Play Sign-up</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <iframe
          src="https://docs.google.com/forms/d/e/1FAIpQLSfZkWW4GW7tAjuajEHcLGkJ-6E_ejgS0iQ5x2Y_IE_8C27YsQ/viewform?embedded=true"
          width="640" height="1511" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
      </mat-card-content>
    </mat-card>
  </div>
</div>