<div fxLayout="row wrap">
  <div fxFlex.gt-sm="33%" fxFlex="100">
    <mat-card>
      <mat-card-header class="mat-purple">
        <mat-card-title>{{config?.memberClubYear}} Membership Dues</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <h3 class="mat-text-primary">{{club?.name}}</h3>
        <p>Use a credit card below to pay the {{config?.memberClubYear}} dues for your
          club. All payments are handled securely by <a href="https://stripe.com" target="_blank">Stripe</a>. 
          No credit card data is saved by the MPGA.
        </p>
        <p>Once payment is completed, we will redirect you to your clubs detail page where
          you can update contact information that may have changed for {{config?.memberClubYear}}.
        </p>
        <hr />
      </mat-card-content>
      <mat-card-content>
        <form #payment="ngForm" (ngSubmit)="onSubmit(payment)" class="payment">
          <div class="form-row">
            <!-- <label for="card-info">Card Info</label> -->
            <div id="card-info" #cardInfo></div>
            <div id="card-errors" class="mat-text-warn" role="alert" *ngIf="error">{{ error }}</div>
          </div>
          <button type="submit">Pay ${{config?.membershipDues}}</button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>