<mat-progress-bar class="app-progress" mode="determinate" [value]="loader.progress$|async" color="accent"></mat-progress-bar>
<mat-toolbar class="main-header">
  <button (click)="toggleSidenav.emit()" mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
  <div class="branding">
    <h1>Welcome to MPGA.net</h1>
  </div>
  <div class="flex-me">
    &nbsp;
  </div>
  <button [matMenuTriggerFor]="user" mat-flat-button color="primary" class="ml-xs">
    <span class="mr-1">{{ currentUser.isAuthenticated ? currentUser.firstName : 'guest' }}</span><mat-icon>person</mat-icon>
  </button>
  <mat-menu #user="matMenu" x-position="before">
    <a *ngIf="currentUser && currentUser.isAuthenticated" mat-menu-item [href]="dbLocation" target="_blank">
      <mat-icon>build</mat-icon>
      Database
    </a>
    <a *ngIf="currentUser && currentUser.isAuthenticated" mat-menu-item [routerLink]="['/admin', 'reports']">
      <mat-icon>reorder</mat-icon>
      Reports
    </a>
    <mat-divider></mat-divider>
    <button *ngIf="currentUser && currentUser.isAuthenticated" mat-menu-item (click)="logout()">
      <mat-icon>exit_to_app</mat-icon>
      Sign Out
    </button>
    <button *ngIf="currentUser && !currentUser.isAuthenticated" mat-menu-item [routerLink]="['/session', 'signin']">
      <mat-icon>cloud_done</mat-icon>
      Sign In
    </button>
  </mat-menu>
</mat-toolbar>
