<mat-progress-bar mode="determinate" [value]="loader.progress$|async" color="accent"></mat-progress-bar>
<mat-toolbar class="main-header">
  <button (click)="toggleSidenav.emit()" mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
  <div class="branding">
    <h1>Welcome to MPGA.net</h1>
  </div>
  <div class="flex-me">
    &nbsp;
  </div>
  <button [matMenuTriggerFor]="user" mat-icon-button class="ml-xs">
    <mat-icon>person</mat-icon>
  </button>
  <mat-menu #user="matMenu" x-position="before">
    <span mat-menu-item>{{ currentUser.isAuthenticated ? currentUser.firstName : 'Guest' }}</span>
    <mat-divider></mat-divider>
    <!-- <button *ngIf="currentUser && currentUser.isAuthenticated" [routerLink]="['/profile', 'settings']" mat-menu-item>
      <mat-icon>settings</mat-icon>
      Settings
    </button> -->
    <button (click)="startLoading()">start</button>
    <button (click)="stopLoading()">stop</button>
    <button *ngIf="currentUser && currentUser.isAuthenticated" [routerLink]="['/profile', 'edit']" mat-menu-item>
      <mat-icon>account_box</mat-icon>
      Profile
    </button>
    <button *ngIf="currentUser && currentUser.isAuthenticated" mat-menu-item (click)="logout()">
      <mat-icon>exit_to_app</mat-icon>
      Sign Out
    </button>
    <button *ngIf="currentUser && !currentUser.isAuthenticated" mat-menu-item [routerLink]="['/session', 'signin']">
      <mat-icon>cloud_done</mat-icon>
      Sign In
    </button>
  </mat-menu>
</mat-toolbar>
