<div [formGroup]="form">
  <p>
    <mat-form-field class="full-width">
      <input matInput placeholder="Mailing address" [formControl]="form.controls['addressTxt']">
    </mat-form-field>
  </p>
  <p>
    <mat-form-field class="half-width">
      <input matInput placeholder="City" [formControl]="form.controls['city']">
    </mat-form-field>
    <mat-form-field class="partial-width-25">
      <mat-select placeholder="State" [formControl]="form.controls['state']">
        <mat-option *ngFor="let state of states" [value]="state.abbreviation">{{ state.name }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="partial-width-25">
      <input matInput placeholder="Zip code" [formControl]="form.controls['zip']">
    </mat-form-field>
  </p>
</div>
