@import '../../../assets/styles/scss/material.variables';

.detail-topic {
    color: mat-color($mat-teal, 700)!important;
    font-weight: bold;
    margin-right: 10px;
}

.contact-topic {
    color: mat-color($mat-teal, 700)!important;
    margin-right: 10px;
}

.course-topic {
    color: mat-color($mat-teal, 700)!important;
    margin-right: 10px;
}

.italic {
    font-style: italic;
    color: mat-color($mat-purple, 500);
}

.club-action {
  margin-top: -4px;
}

.has-value {
  color: mat-color($mat-green, 500);
  margin-top: -10px;
  float: right;
}

.no-value {
  color: mat-color($mat-red, 500);
  margin-top: -10px;
  float: right;
}
