<mat-card *ngIf="results && results.length">
  <mat-card-header class="mat-teal">
    <mat-card-title>{{ currentYear }} Winners</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div *ngFor="let row of results">
      <h4 class="event-bold">{{ row.flightOrDivision }}</h4>
      <p>{{ row.winner }} ({{ row.winnerClub }})<span *ngIf="row.coWinner"> / {{ row.coWinner }} ({{ row.coWinnerClub }})</span></p>
      <p>Score: {{ row.score }}<span *ngIf="row.isNet">*</span></p>
    </div>
    <p class="net-score">* Net Score</p>
  </mat-card-content>
  <mat-card-actions>
    <a [routerLink]="['/tournaments', 'history', event.tournament]" mat-button color="accent">Championship History</a>
  </mat-card-actions>
</mat-card>
