@import '../../../assets/styles/scss/material.variables';

.event-bold {
    color: mat-color($mat-teal, 700)!important;
    font-weight: 600;
    margin-bottom: 0;
}

.net-score {
    font-style: italic;
    font-size: .8em;
}

.mat-card-title {
    font-size: 16px !important;
}