@import '../../../assets/styles/scss/material.variables';

h3.rule-title {
  color: mat-color($mat-teal, 700)!important;
  font-weight: bold;
}

h3.tpi-title {
  color: mat-color($mat-teal, 700)!important;
  font-weight: bold;
}

.hard-card {
  margin-top: 2px;
  margin-right: 2px;
}
