<div fxLayout="row wrap">
  <div fxFlex.gt-sm="25%" fxFlex="100">
    <mat-card>
      <mat-card-header class="mat-purple">
        <mat-card-title>Filter Club List</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <h3>Filter the list of clubs by season:</h3>
      </mat-card-content>
      <mat-card-content>
        <mat-chip-list>
          <mat-chip *ngFor="let season of seasons" [selected]="season === selectedSeason" (click)="selectSeason(season)">{{season}}</mat-chip>
          <mat-chip [selected]="selectedSeason === 0" (click)="selectSeason(0)">All</mat-chip>
        </mat-chip-list>
        <p class="mt-1" *ngIf="totalRows && selectedSeason">{{totalRows}} member clubs in {{selectedSeason}}</p>
        <p class="mt-1" *ngIf="totalRows && !selectedSeason">{{totalRows}} total clubs in the MPGA database</p>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex.gt-sm="50%" fxFlex="100">
    <mat-card>
      <mat-card-header class="mat-purple">
        <mat-card-title>MPGA Member Clubs</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div *ngIf="pageContent" [markdown]="pageContent.content"></div>
        <mat-table [dataSource]="dataSource">
          <ng-container matColumnDef="clubName">
            <mat-header-cell class="cell-wide" *matHeaderCellDef>Club Name</mat-header-cell>
            <mat-cell class="clickable cell-wide" *matCellDef="let item" (click)="clubDetail(item)">
              {{ item.name }}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="clubWebsite">
            <mat-header-cell class="cell-narrow" *matHeaderCellDef>Website</mat-header-cell>
            <mat-cell class="clickable cell-narrow" *matCellDef="let item" (click)="clubWebsite(item)">
              <mat-icon color="primary" [inline]="true">{{webIcon(item)}}</mat-icon>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="location">
            <mat-header-cell class="cell-normal" *matHeaderCellDef>Location</mat-header-cell>
            <mat-cell class="cell-normal" *matCellDef="let item">
              {{ item.golfCourse ? item.golfCourse.city : '' }}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="clubSize">
            <mat-header-cell class="cell-narrow" *matHeaderCellDef>Size</mat-header-cell>
            <mat-cell class="cell-narrow" *matCellDef="let item">
              {{ item.size ? item.size : "?" }}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="isType2">
            <mat-header-cell class="cell-narrow" *matHeaderCellDef>Type 2</mat-header-cell>
            <mat-cell class="cell-narrow" *matCellDef="let item">
              {{ item.type2 ? "Yes" : "" }}
            </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
        </mat-table>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex.gt-sm="25%" fxFlex="100" *ngIf="canRegister">
    <app-registration [pdf]="registrationForm" [clubs]="database.data" [currentSeason]="currentSeason"></app-registration>
  </div>
</div>
