<div fxLayout="row wrap">
  <div fxFlex.gt-sm="33.33%" fxFlex.gt-xs="50" fxFlex="100">
    <mat-card>
      <mat-card-header class="mat-purple">
        <mat-card-title>News and Announcements</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div>
          <h3 class="mt-0 mb-0 announcement-item">2020 Team Match Play Sign-up</h3>
          <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfZkWW4GW7tAjuajEHcLGkJ-6E_ejgS0iQ5x2Y_IE_8C27YsQ/viewform?embedded=true" width="640" height="1511" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
        </div>
        <div *ngFor="let item of announcements">
          <h3 class="mt-0 mb-0 announcement-item"> {{item.title}} </h3>
          <div [markdown]="item.text"></div>
          <p *ngIf="item.externalUrl"><a mat-stroked-button color="primary" [href]="item.externalUrl" target="_blank">{{item.externalName}}</a></p>
          <p *ngIf="item.document && item.document.title"><a mat-stroked-button color="primary" [href]="item.document.file"
              target="_blank">{{item.document.title}}</a></p>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex.gt-sm="33.33%" fxFlex="100">
    <mat-card *ngIf="events">
      <mat-card-header class="mat-purple">
        <mat-card-title>{{currentYear}} Event Calendar</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-list>
          <mat-list-item *ngFor="let item of events" (click)="openEvent(item)" class="clickable">
            <img *ngIf="item.location.logoUrl" mat-list-avatar class="course-logo" src="{{item.location.logoUrl}}">
            <h3 class="event-name" matLine> {{item.name}} </h3>
            <p matLine> {{item.location.name}} </p>
            <p matLine> {{item.eventDates}} </p>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex.gt-sm="33.33%" fxFlex.gt-xs="50" fxFlex="100">
    <mat-card *ngIf="policies">
      <mat-card-header class="mat-purple">
        <mat-card-title>About the MPGA</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div [markdown]="pageContent.content"></div>
        <div *ngFor="let pol of policies">
          <h3 class="mt-0 mb-0 about-item"> {{pol.title}} </h3>
          <div [markdown]="pol.description"></div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>