@import '../../assets/styles/scss/material.variables';

h3.about-item {
  color: mat-color($accent);
}
h3.announcement-item {
  color: mat-color($mat-teal, 700);
}

h3.event-name {
    color: mat-color($mat-teal, 700)!important;
    font-weight: bold !important;
}
