@import '../../assets/styles/scss/material.variables';

h3.about-item {
  color: mat-color($mat-teal, 700);
}
h3.announcement-item {
  color: mat-color($mat-teal, 700);
}

h3.event-name {
    color: mat-color($mat-teal, 700)!important;
    font-weight: bold !important;
}

.mat-list-avatar {
  width: 60px !important;
  height: 60px !important;
  border-radius: 0 !important;
  object-fit: scale-down !important;
}