<div fxLayout="row wrap">
    <div fxFlex.gt-sm="33.33%" fxFlex="100">
        <mat-card *ngIf="events">
            <mat-card-content class="mat-indigo">
                <h2 class="mt-0 mb-0">2018 Event Calendar</h2>
            </mat-card-content>
            <mat-card-content>
                <mat-list>
                    <mat-list-item *ngFor="let item of events" (click)="openEvent(item)" class="clickable">
                        <!-- <img mat-list-avatar src="{{item.photo}}" alt=""> -->
                        <h3 class="event-name" matLine> {{item.name}} </h3>
                        <p matLine> {{item.location.name}} </p>
                        <p matLine> {{item.eventDates}} </p>
                    </mat-list-item>
                </mat-list>
            </mat-card-content>
        </mat-card>
    </div>
    <div fxFlex.gt-sm="33.33%" fxFlex.gt-xs="50" fxFlex="100">
        <mat-card *ngIf="policies">
            <mat-card-content class="mat-teal">
                <h2 class="mt-0 mb-0">About the MPGA</h2>
            </mat-card-content>
            <mat-card-content>
                <div [markdown]="pageContent.content"></div>
                <div *ngFor="let pol of policies">
                    <h3 class="mt-0 mb-0 about-header"> {{pol.title}} </h3>
                    <div [markdown]="pol.description"></div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div fxFlex.gt-sm="33.33%" fxFlex.gt-xs="50" fxFlex="100">
        <mat-card *ngIf="announcements">
            <mat-card-content class="mat-amber">
                <h2 class="mt-0 mb-0">Announcements</h2>
            </mat-card-content>
            <mat-card-content>
                <mat-list>
                    <!-- <mat-list-item *ngFor="let item of announcements">
                    <h3 matLine> {{item.name}} </h3>
                    <p matLine> {{item.location.name}} </p>
                    <p matLine> {{item.eventDates}} </p>
                    </mat-list-item> -->
                </mat-list>
            </mat-card-content>
        </mat-card>
    </div>
</div>