@import "./material.variables";

.error-snackbar {
  background: mat-color($mat-red, 500);
}

.warn-snackbar {
  background: mat-color($mat-amber, 500);
  color: mat-color($mat-purple, 900);
}

.info-snackbar {
  background: mat-color($mat-light-blue, 600);
  color: mat-color($mat-indigo, 900);
}

.success-snackbar {
  background: mat-color($mat-green, 400);
}

// .nav-footer {
//   display: flex;
//   flex-direction: column;
// }
// .nav-footer p {
//   flex-shrink: 0;
// }
