/* You can add global styles to this file, and also import other style files */
.notes {
    margin: 20px;
}

.clickable {
    cursor: pointer;
}

.cell-wide {
    flex-grow: 4;
}
.cell-normal {
    flex-grow: 2;
}
.cell-narrow {
    flex-grow: 1;
}
