/* You can add global styles to this file, and also import other style files */
.notes {
    margin: 20px;
}

.mat-card-title {
  font-size: 16px !important;
}

.clickable {
    cursor: pointer;
}

.cell-wide {
    flex-grow: 4;
}
.cell-normal {
    flex-grow: 2;
}
.cell-narrow {
    flex-grow: 1;
}

.full-width {
  width: 98%;
  margin-right: 2%;
}
.half-width {
  width: 48%;
  margin-right: 2%;
}
.third-width {
  width: 31%;
  margin-right: 2%;
}
.partial-width-25 {
  width: 23%;
  margin-right: 2%;
}
.partial-width-75 {
  width: 73%;
  margin-right: 2%;
}
