@import '../../../assets/styles/scss/material.variables';

.add-contact {
  float: right;
  margin-top: -36px;
}

.remove-contract {
  margin-top: 8px;
  margin-right: 8px;
}

.error-message {
  color: mat-color($mat-red, 500);
}
.warning-message {
  color: mat-color($mat-amber, 900);
}
.info-message {
  color: mat-color($mat-blue, 300);
}
