<div fxLayout="row wrap">
  <div fxFlex.gt-sm="33.33%" fxFlex="100">
    <mat-card *ngIf="club">
      <!-- <mat-card-content>
        <h2 class="mt-0 mb-0 mat-text-teal">About This Page</h2>
      </mat-card-content> -->
      <mat-card-content>
        <p>TODO: instructions and other helpful info about editing club data.</p>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex.gt-sm="33.33%" fxFlex="100">
    <mat-card *ngIf="club">
      <mat-card-content class="mat-teal">
        <h2 class="mt-0 mb-0">Edit {{ club.name }}</h2>
      </mat-card-content>
      <mat-card-content>
        <app-club [club]="club"></app-club>
      </mat-card-content>
      <mat-card-actions>
        <button mat-flat-button color="accent" (click)="saveClub()">Save</button>
        <button mat-flat-button (click)="cancel()">Cancel</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div fxFlex.gt-sm="33.33%" fxFlex="100">
    <mat-card *ngIf="club && allRoles">
      <mat-card-content class="mat-teal">
        <h2 class="mt-0 mb-0">Edit Club Contacts</h2>
        <button mat-mini-fab (click)="addContact()" color="accent" class="add-contact">
          <mat-icon>add</mat-icon>
        </button>
      </mat-card-content>
      <mat-card-content>
        <div *ngFor="let cc of club.clubContacts" class="mb-2">
          <mat-card>
            <mat-card-header class="mat-teal">
              <mat-card-title-group>
                <mat-card-title>{{cc.contact.name}}</mat-card-title>
                <mat-card-subtitle>Edit or remove this contact</mat-card-subtitle>
              </mat-card-title-group>
              <div fxFlex></div>
              <button mat-icon-button color="warn" class="remove-contact">
                <mat-icon>remove_circle</mat-icon>
              </button>
            </mat-card-header>
            <mat-card-content>
              <app-club-contact [clubContact]="cc" [roles]="allRoles"></app-club-contact>
            </mat-card-content>
          </mat-card>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-flat-button color="accent">Save</button>
        <button mat-flat-button>Cancel</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
